# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
server/node_modules/
server/uploads/

# Build output
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local